.rojo {
    width: 500px;
    height: 500px;
    background-color: red;
}
.amarillo {
    width: 500px;
    height: 500px;
    background-color: yellow;
}
.verde {
    width: 500px;
    height: 500px;
    background-color: green;
}